<%- include('../INCLUDES/head.ejs') %>
 <body style=" background-image:url(/notfound.jpg); background-size: cover; background-repeat: no-repeat;">

    
     <h1>PAGE NOT FOUND</h1>

 </body>
 </html>

