 <%-include('../INCLUDES/head.ejs')%>
<!-- Image and text -->
<body>
    <section>
    <nav class="navbar navbar-light bg-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="/scamer.png"
          class="me-2"
          height="20"
          alt="MDB Logo"
          loading="lazy"
        />
        <small ><span style="color:rgb(6, 199, 122)"><strong>MAKAZI</strong></span>||LINK</small>
      </a>
    </div>
  </nav>
    </section>

    <%-include('../INCLUDES/landing.ejs')%>
 <%-include('../INCLUDES/end.ejs') %>