
    <section  class="wrap">
        <div class="backg">

            <!-- <div class=" black1 white table1  "> -->
                <!-- <div class=" centering  "> -->
                    <div class="d-flex  text-white  d-flex justify-content-center ">
                        <h1>MAKAZI LINK</h1>
                    </div>
                    <div  class="  text -white  d-flex justify-content-center">
                        <span class="text-white ">Stay linked rest easy</span>
                    </div>
                
            

            <div class=" black1 mt-2 pt-2 me-2  ">
                <div class=" d-flex flex-column ">
                    <h1 class="d-flex justify-content-center align-items-center ">  <span style="font-size:70px; color:rgb(2, 81, 16)">About us</span></h1>
                    <div class=" d-flex text-center mt-2 align-items-center head justify-content-center">
                        <h6 class="head"> <span style="font-size:50px; color:rgb(190, 190, 201)">W</span>e handle everything for you now.                            
                        </h6>
                    </div>
                        <div class=" d-flex text-center mt-2 align-items-center head justify-content-center">
                        <h6 class="head"> <span style="font-size:40px; color:rgb(216, 216, 225)">Y</span>ou finally save all the stress time and extra hidden cost                        
                        </h6>
                        </div>
                        <div class=" d-flex text-center mt-2 align-items-center head justify-content-center">
                        <h6 class="head"> <span style="font-size:40px; color:rgb(181, 181, 192)">W</span> ith hundreds of house, rooms and appartments for rent/sell.
                             
                        </h6>
                    </div>
                </div>
                <div class="container ">
                    <div  class="d-flex flex-column mt-3  radius ">

                        <h2 class=" text-white d-flex justify-content-center  head"> <span style="font-size:40px; color:rgb(203, 203, 210)">Get</span> started with makazi link:
                        </h2>

                        <div class="d-flex justify-content-center ">
                          <form action="/register" method="get" > 
                              
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>" > <button type="button " class=" btn btn-success mr-5 pill name"><link > REGISTER</link></button>
                        
                        </form> 

                          <form action ="/admin/login" method="get"> 
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>" >
                            <button   class=" flex1 rounded-pill btn btn-success name pill " action="/admin/login">SIGN IN</button>


                        </form>
                        </div>
                        <pre></pre>
                    </div>
                </div>
               
            </div>
        </div>
</section>


<section class="py-5">
    <h1 class="text-center fw-normal">Ou<span class="border-bottom border-green border-3 pb-1">r Patne</span>rs</h1>
      <div class="container my-4">
        <div class="row text-center py-3">
          <div class="col-lg-9 m-auto tempaltemo-carousel">
            <div class="row d-flex flex-row">
              <!--Controls-->
              <div class="col-1 align-self-center">
                <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="prev">
                  <i class="text-dark fas fa-chevron-left"></i>
                </a>
              </div>
              <!--End Controls-->
  
              <!--Carousel Wrapper-->
              <div class="col">
                <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="templatemo-slide-brand"
                  data-bs-ride="carousel">
                  <!--Slides-->
                  <div class="carousel-inner product-links-wap" role="listbox">
  
                    <!--First slide-->
                    <div class="carousel-item active" data-bs-interval="2000">
                      <div class="row">
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/public/public/scamer.png" height="50" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/public/public/scamer.png" height="50" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/images/partner-3.jpg"  height="50" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/public/public/r-architecture-JvQ0Q5IkeMM-unsplash.jpg"  height="50" alt="Brand Logo"></a>
                        </div>
                      </div>
                    </div>
                    <!--End First slide-->
  
                    <!--Second slide-->
                    <div class="carousel-item" data-bs-interval="2000">
                      <div class="row">
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/images/partner-5.jpg" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/images/partner-6.jpg"  height="50" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/images/partner-7.jpg"  height="50" alt="Brand Logo"></a>
                        </div>
                        <div class="col-3 p-md-5">
                          <a href="#"><img class="img-fluid object-cover" src="/images/partner-8.jpg"  height="50" alt="Brand Logo"></a>
                        </div>
                      </div>
                    </div>
                    <!--End Second slide-->
                  </div>
                  <!--End Slides-->
                </div>
              </div>
              <!--End Carousel Wrapper-->
  
              <!--Controls-->
              <div class="col-1 align-self-center">
                <a class="h1" href="#templatemo-slide-brand" role="button" data-bs-slide="next">
                  <i class="text-light fas fa-chevron-right"></i>
                </a>
              </div>
              <!--End Controls-->
            </div>
          </div>
        </div>
      </div>
  </section>

  